- @subtitle = "Generate Historical Report"
- @menu = "Reports"

%table
  %tbody
    %tr
      %td A
      %td B
    
	//=label :course, "Course"
	//=select_tag :course, options_from_collection_for_select(@courses, "id", "name")
	//=submit_tag "Generate Report"
