- @subtitle = "Generate Historical Report"
- @menu = "Reports"

:css
  td { 
    vertical-align: top;  
    padding-left:50px;
    padding-right:50px;
  }
  div#schools_field, div#semesters_field {
    margin-bottom:10px;
    height:300px;
    overflow:auto;
  }
  div.result_options {
    width: 300px;
    padding: 5px 5px 5px 5px;
    border: 1px solid #ddd;
    border-radius:5px;
  }
:javascript
  $(document).ready(function () {
    $('#select_all_schools_btn').click(function () {
      $('.school_checkbox').prop('checked', true)
    });
    $('#deselect_all_schools_btn').click(function () {
      $('.school_checkbox').prop('checked', false)
    });
    $('#select_all_semesters_btn').click(function () {
      $('.semester_checkbox').prop('checked', true)
    });
    $('#deselect_all_semesters_btn').click(function () {
      $('.semester_checkbox').prop('checked', false)
    });
  });
%form{action:'/historical', method:'post'}
  %input{name:'_method', type:'hidden', value:'create'}
  %table
    %tbody
      %tr
        %td
          Schools
          %div#schools_field
            %br
            -@schools.each do |school|
              %input{type:'checkbox', class:'school_checkbox', name:'school', value:school[1]}
              =school[0]
              %br
          %input{id:'select_all_schools_btn', type:'button', value:"Select All Schools"}
          %input{id:'deselect_all_schools_btn', type:'button', value:"Deselect All Schools"}
        %td
          Semesters
          %div#semesters_field
            %br
            -@times.each do |semester|
              %input{type:'checkbox', class:'semester_checkbox', name:'semester', value:'PLACE HOLDER'}
              =semester
              %br
          %input{id:'select_all_semesters_btn', type:'button', value:"Select All Semesters"}
          %input{id:'deselect_all_semesters_btn', type:'button', value:"Deselect All Semesters"}
              
              
  Result options
  %div.result_options
    %input{type:'checkbox', name:'result_options', value:'efficacy'}
    Efficacy messages
    %br
    %input{type:'checkbox', name:'result_options', value:'mc'}
    Multiple choice messages
  
  %br
  =submit_tag "Generate Historical Report"
//=label :course, "Course"

