- @subtitle = "Edit College"

%span
  = form_for @college_fields, :url => {:action => :update} do |f|
    = render :partial => "college", :locals => {:f => f}
    #submit
      = submit_tag 'Save Changes'
