- @subtitle = "Add New College"

%span
  = form_for @college_fields, :url => {:action => :create} do |f|
    = render :partial => "college", :locals => {:f => f}
    #submit
      = submit_tag "Save Changes"