<% @subtitle = "Survey Templates" %>

<script>
$(document).ready(function() {
    $('#add_new_survey_btn').click(function () {
        window.location = "<%= new_survey_template_path %>";
    });
});
</script>
<a id="add_new_survey_btn" href="<%= new_survey_template_path %>">Add new survey</a>
<hr />
<% if @survey_template != nil %>
<%  @survey_template.each do |template| %>
<a href="#"><%=  template.name %></a><br />
<%  end %>
<% end %>
