<% @subtitle = "Add new survey template" %>
<script>
  $( document ).ready(function() {
    window.add_question = function(section_num) {
      var num_sections = $("#num_sections").val();
      $numquestions = $('#snumquestions'+section_num);
      num_questions = parseInt($numquestions.val()) + 1;
      $numquestions.val(num_questions);
      var new_question = '<div id="q'+section_num+'_'+num_questions+'">Question Name <input name="s'+section_num+'q'+num_questions+'name'+'" id="squestion'+section_num+'_'+num_questions+'" /> <input type="button" id="delquestion'+section_num+'_'+num_questions+'" value="X" /><br />';
      new_question += 'Message:<br /><textarea id="s'+section_num+'q'+num_questions+'msg" name="s'+section_num+'q'+num_questions+'msg"></textarea><br />';
      var $question = $('td#squestion'+section_num);
      $question.append(new_question);
      $('#delquestion'+section_num+'_'+num_questions).click({snum:section_num, qnum:num_questions}, function (e) {
        $('#q'+e.data.snum+'_'+e.data.qnum).remove();
      });
      
    };
    window.add_section = function() {
      $num_sections_field = $('#num_sections');
      $num_sections_field.val(parseInt($num_sections_field.val()) + 1);
      var num_sections = $num_sections_field.val();
      var content = '<div class="section" id="section'+num_sections+'">';
      content += '<input type="hidden" name="snumquestions'+num_sections+'" id="snumquestions'+num_sections+'" value="0" />';
      content += 'Section ';
      content += '<input type="button" id="delsection'+num_sections+'" value="X" /><br />';
      content += '<table id="section_data'+num_sections+'">';
      content += '<tr><td>Name</td><td><input name="sname'+num_sections+'" id="sname'+num_sections+'" /></td></tr>';
      content += '<tr><td>Type</td><td><select name="stype'+num_sections+'" id="stype'+num_sections+'"><option value="Multiple Choice">Multiple Choice</option><option value="Efficacy">Efficacy</option></select></td></tr>';
      content += '<tr id="sobjective'+num_sections+'"><td>Objective</td><td><input name="sobjective'+num_sections+'" id="sobjective'+num_sections+'" /></td></tr>';
      content += '<tr><td colspan="2" style="height:15px;"></td></tr>';
      content += '<tr><td id="squestion'+num_sections+'" colspan="2"></td></tr>';
      content += '</table>';
      content += '<input type="button" name="add_question_btn'+num_sections+'" id="add_question_btn'+num_sections+'" value="Add Question" /><br />'
      content += '</div>';
      $('.form_content').append(content);
      $('#stype'+num_sections).change({section_num:num_sections}, function (e) {
        if ($(this).val() == "mc") { $('#sobjective'+e.data.section_num).show(); }
        else { $('#sobjective'+e.data.section_num).hide(); }
      });
      $('#smsg'+num_sections).hide();
      add_question(num_sections);
      $('input#add_question_btn'+num_sections).click(function () { add_question(num_sections); });
      $('#delsection'+section_num).click({snum:section_num}, function (e) {
        $('#s'+e.data.snum).remove();
      });
    };
    $('#add_section_btn').click(function () { add_section();});
    add_section();
  });
</script>
<style>
div.section {
  background:#FFFF99;
  margin:10px;
  border-radius:5px;
}
textarea {
  width:250px;
  height:65px;
}
</style>
<div style="width:400px; margin-left:auto; margin-right:auto">
    <form accept-charset="UTF-8" action="<%= survey_template_index_path %>" method="post">
        Survey Name<input id="surveyname" name="surveyname">
        <input type="hidden" name="num_sections" id="num_sections" value="0" />
        <div class="form_content"></div>
        <br /><input id="add_section_btn" type="button" value="Add Section" />
        <hr />
        <label><input type="checkbox" name="publish" id="publish" value="true" />Publish (THIS CANNOT BE UNDONE!!)</label>
        <br />
        <input type="submit" value="Save Changes" />
    </form>
</div>
