- @subtitle = "Edit Post-Survey Results"

%span
  = form_tag("/postsurveys/#{params[:id]}", method: "put") do
    - if @current_user.admin?
      = render partial: "presurveys/admin_edit_content"
    - else
      = render partial: "presurveys/ambassador_edit_content"
