- @subtitle = "Edit Pre-Survey Results (Part 1)"

%span
  = form_for @presurvey_fields, :url => {:action => :update}, :html => {:class => "form_to_validate"} do |f|
    = render :partial => "admin/schools"
    = render :partial => "presurveys/sections", :locals => {:f => f}
    #submit
      = submit_tag 'Save Changes'
